---
---

@charset "utf-8";

@import "layout";

.conference-list {
  margin-bottom: 0;
  table-layout: fixed;

  li, tr {
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      background-color: #f6f6f6;
    }

    .label {
      margin: 2px 4px;
    }
  }

  td {
    white-space: normal !important;
    word-wrap: normal;
    vertical-align: middle !important;
  }

  .date-cell {
    white-space: nowrap !important;
  }
}

@media (min-width: 1024px) {

  td {
    border-top: 1px solid #ddd !important;
  }

}

@media (max-width: 1024px) {

  td {
    border-top: none !important;
  }

  .label {
    display: block;
    white-space: normal;
  }

  .cfp_end {
    display: none;
  }
}
