---
layout: default
title: Upcoming
---

<script>
function dateTimestamp(date = undefined) {
  var day = (date == undefined) ? new Date() : new Date(date);
  return day.setHours(0, 0, 0, 0)
}

var today = dateTimestamp();
</script>
<ul class="conference-list list-unstyled">
{% assign sorted_conferences = site.conferences | sort: 'date_start' %}
{% assign today = site.time | date: "%s" %}
{% for conference in sorted_conferences %}
  {% assign date_end = conference.date_end | date: "%s" %}
  {% if today < date_end %}
  <li id='{{ forloop.index }}'>
    {{ conference.date_start | date: "%Y-%m-%d" }}&nbsp;
    <a class="post-link" href="{{ conference.website }}">{{ conference.name }}</a>
    {% if conference.location %}
    &nbsp;<small>{{ conference.location }}</small>
    {% endif %}
    <script>
      {% if conference.cfp.start %}
      if (today >= dateTimestamp('{{ conference.cfp.start | date: "%Y-%m-%d" }}') && today <= dateTimestamp('{{ conference.cfp.end | date: "%Y-%m-%d" }}')) {
        document.write('<a href="{% if conference.cfp.site %}{{ conference.cfp.site }}{% else %}{{ conference.website }}{% endif %}"><span class="label label-info">Call For Papers until {{ conference.cfp.end | date: "%Y-%m-%d" }}</span></a>');
      }
      {% endif %}
      {% if conference.status %}
        document.write('<span class="label label-danger">{{ conference.status }}</span>');
      {% endif %}
      {% if conference.online %}
        document.write('<span class="label label-primary">Online-only event</span>');
      {% endif %}
      if (today >= dateTimestamp('{{ conference.date_start | date: "%Y-%m-%d" }}') && today <= dateTimestamp('{{ conference.date_end | date: "%Y-%m-%d" }}')) {
        document.write('<span class="label label-success">Happening Now</span>');
      }
      if (today > dateTimestamp('{{ conference.date_end | date: "%Y-%m-%d" }}')) {
        document.getElementById('{{ forloop.index }}').style.color="gray";
      }
    </script>
  </li>
  {% endif %}
{% endfor %}
</ul>
