---
layout: default
title: Online only
---

<script>
function dateTimestamp(date = undefined) {
  var day = (date == undefined) ? new Date() : new Date(date);
  return day.setHours(0, 0, 0, 0)
}

var today = dateTimestamp();
</script>
<ul class="conference-list list-unstyled">
{% assign sorted_conferences = site.conferences | sort: 'date_start' %}
{% assign today = site.time | date: "%s" %}
{% for conference in sorted_conferences %}
  {% assign date_end = conference.date_end | date: "%s" %}
  {% if today < date_end and conference.online %}
  <li id='{{ forloop.index }}'>
    {{ conference.date_start | date: "%Y-%m-%d" }}&nbsp;
    <a class="post-link" href="{{ conference.website }}">{{ conference.name }}</a>
    {% if conference.location %}
    &nbsp;<small>{{ conference.location }}</small>
    {% endif %}
    <script>
      document.write('<span class="label label-primary">Online-only event</span>');
      {% if conference.status %}
        document.write('<span class="label label-danger">{{ conference.status }}</span>');
      {% endif %}
    </script>
  </li>
  {% endif %}
{% endfor %}
</ul>
