---
layout: default
title: Online only
---

<table class="table conference-list">
{% assign sorted_conferences = (site.conferences | sort: 'date_start') %}
{% assign today = (site.time | date: "%s" ) %}
{% for conference in sorted_conferences %}
  {% assign date_end = (conference.date_end | date: "%s") %}
  {% if (today < date_end and conference.online) %}
  <tr id='{{ forloop.index }}'>
    <td>{{ conference.date_start | date: "%Y-%m-%d" }}</td>
    <td><a class="post-link" href="{{ conference.website }}">{{ conference.name }}</a></td>
    {% if conference.location %}
    <td><small>{{ conference.location }}</small></td>
    {% endif %}
    <td><span class="label label-primary">Online-only event</span></td>
    {% if conference.status %}
    <td><span class="label label-danger">{{ conference.status }}</span></td>
    {% endif %}
  </tr>
  {% endif %}
{% endfor %}
</table>
